/*------------------------------------*\
   Colours
\*------------------------------------*/
$white: #fff;
$black: #000;

// $primary: #883b00;
$primary: #470065;
$secondary: #ca4fff;
$copy: $black;
$copy-light: $copy;
$copy-lightest: $copy;
$headings: $copy;
$brand: $primary;
$link: #ffea00;
$action: $link;
// $link: #e3796195;

$bg: #e4741f;

$white-overlay1: rgba(255, 255, 255, 0.85);
$white-overlay2: rgba(255, 255, 255, 0.8);
$white-overlay3: rgba(255, 255, 255, 0.3);
$primary-overlay: #d3dfd8f7;

/*------------------------------------*\
    Structure
\*------------------------------------*/
$sidebar-base-width: 17rem;
$bp-sidebar: 60rem;
$bp-tablet: 40rem;
