/*------------------------------------*\
   Colours
\*------------------------------------*/
$white: #fff;
$black: #000;	

$primary: #57665D;
$secondary: #7c9887;
$copy: #333;
$copy-light: #555;
$copy-lightest: #999;
$headings: $copy;
$brand: $primary;
$action: $secondary;
// $link: #e3796195;
$link: #7c968693;

$white-overlay1: rgba(255, 255, 255, 0.85);
$white-overlay2: rgba(255, 255, 255, 0.7);
$white-overlay3: rgba(255, 255, 255, 0.3);
$primary-overlay: #d3dfd8f7;

/*------------------------------------*\
    Structure
\*------------------------------------*/
$sidebar-base-width: 17rem;
$bp-sidebar: 60rem;